#####**PACKAGES TO BE IMPORTED**
------------------------------------

In [ ]:
import numpy as np
import pandas as pd
from google.colab import drive
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import train_test_split

#####**IMPORT DATASET**
-----------------------------

In [ ]:
#MOUNT THE GOOGLE DRIVE
drive.mount('/content/drive/')

#SET THE PATH AND READ THE DATASET
data = pd.read_csv('/content/drive/MyDrive/BreastCancerWinsconsin_Dataset.csv')

print(data.shape)

data.head()

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).
(569, 33)

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

#####**DATA PRE-PROCESSING**
--------------------------------------------

In [ ]:
# DROP THE LAST EMPTY COLOUMN

data = data.drop('Unnamed: 32', axis = 1)

print(data.shape)

data.head()

# DROP UNIQUE CUSTOMER ID 

data = data.drop('id', axis = 1)

print(data.shape)

data.head()

(569, 32)
(569, 31)

  diagnosis  radius_mean  ...  symmetry_worst  fractal_dimension_worst
0         M        17.99  ...          0.4601                  0.11890
1         M        20.57  ...          0.2750                  0.08902
2         M        19.69  ...          0.3613                  0.08758
3         M        11.42  ...          0.6638                  0.17300
4         M        20.29  ...          0.2364                  0.07678

[5 rows x 31 columns]

In [ ]:
data.describe()

       radius_mean  texture_mean  ...  symmetry_worst  fractal_dimension_worst
count   569.000000    569.000000  ...      569.000000               569.000000
mean     14.127292     19.289649  ...        0.290076                 0.083946
std       3.524049      4.301036  ...        0.061867                 0.018061
min       6.981000      9.710000  ...        0.156500                 0.055040
25%      11.700000     16.170000  ...        0.250400                 0.071460
50%      13.370000     18.840000  ...        0.282200                 0.080040
75%      15.780000     21.800000  ...        0.317900                 0.092080
max      28.110000     39.280000  ...        0.663800                 0.207500

[8 rows x 30 columns]

In [ ]:
data['diagnosis'].value_counts()

B    357
M    212
Name: diagnosis, dtype: int64

######**ENCODING THE DEPENDENT VARIABLE TO TRAIN**
--------------------------------------------------------

In [ ]:
# LABEL ENCODING FOR OUR DEPENDENT VARIABLE DIAGNOSIS
le = LabelEncoder()
#TRANSFORM B AND M VALUES TO ENCODED LABELS
data['diagnosis'] = le.fit_transform(data['diagnosis'])
data['diagnosis'].value_counts()

0    357
1    212
Name: diagnosis, dtype: int64

#####**SET DEPENDENT AND INDEPENDENT VARIABLES**
--------------------------------------------------------

In [ ]:
# GET X (independent) WHICH IS ALL THE 30 COLOUMNX EXCEPT DIAGNOSIS 
x = data.iloc[:,1:]
# AND Y (dependent) VARIABLE WHICH IS DIAGNOSIS
y = data.iloc[:,0]

print(x.shape)
print(y.shape)

(569, 30)
(569,)

#####**SPLIT THE DATASET USING TRAIN_TEST_SPLIT**
-----------------------------------

In [ ]:
#Splitting the dataset into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 16)

print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(426, 30)
(426,)
(143, 30)
(143,)

#####**MODELLING - RANDOM FOREST**
----------------------------------------

In [ ]:
# creating a model
model = RandomForestClassifier(n_estimators = 400, max_depth = 10)

# feeding the training set into the model
model.fit(x_train, y_train)

# predicting the test set results
y_pred = model.predict(x_test)

# Calculating the accuracies
print("Training accuracy :", model.score(x_train, y_train))
print("Testing accuarcy :", model.score(x_test, y_test))

# classification report
cr = classification_report(y_test, y_pred)
print(cr)

# confusion matrix 
cm = confusion_matrix(y_test, y_pred)
print(cm)

Training accuracy : 1.0
Testing accuarcy : 0.9790209790209791
              precision    recall  f1-score   support

           0       0.98      0.99      0.98        91
           1       0.98      0.96      0.97        52

    accuracy                           0.98       143
   macro avg       0.98      0.98      0.98       143
weighted avg       0.98      0.98      0.98       143

[[90  1]
 [ 2 50]]